body
{
    background-image: url("avenger_bg.jpg");
    background-position: center;
    background-size: cover;
}
#canvas
{
    border-width:10px;
    background-color:cyan; 
	border-style:ridge;
	border-radius: 10px;
	border-color: red;
}

h2
{
	width: 200px;
	padding: 3px;
 }
h3
{
	display: inline-block;
	font-weight: bold;
}
span
{
	color: white;	
}
a
{
	text-decoration: none;
	font-size: 20px;
	padding: 10px;
    border-radius: 10px;
}
#div1
{
	width: 600px;
	border-radius: 10px;
	margin-bottom: 10px;
}
